.displayBooklist {
    border: 2px solid black;
    margin: 25px 50px 75px 100px;
}

.divider {
    width: 100%;
    text-align: left;
    margin-left: 0;
    height: .25px;
    color: lightgray;
    background-color: lightgray;
}

.bookImg {
    width: 150px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.bookInfo {
    border: 1px solid black;
    width: 150px;
}

.bookContainer {
    border: 1px solid black;  
}